.react-selectize.root-node{
  width: 100%;
}
.selection_label{
  color: $deepBlue-80;
  font-size: 12px;
  width: 200px;
}
.simple-select{
  padding: 0;
  border: 0;
}

.simple-select.react-selectize.default.root-node:not(.open) .react-selectize-control{
  background: none;
}

.simple-select.react-selectize.default.root-node:not(.open) .react-selectize-control{
  padding: 0;
}

.multi-select{
  padding: 0;
  border: 0;
}

.multi-select.react-selectize.default.root-node:not(.open) .react-selectize-control{
  background: none;
}

.multi-select.react-selectize.default.root-node:not(.open) .react-selectize-control{
  padding: 0;
}

.counterComponent{
  display: inline;

  .sub{
    display: inline;
    margin-right:10px;
  }

  .add{
    display: inline;
    margin-left:10px;
  }

  h1 {
    display: inline;
    text-align: center;
    width: 100px;
  }

  button{
    font-size:30px;
    font-weight:bold;
    line-height:30px;
    width: 60px;
    height: 60px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    &:hover{
      box-shadow: 1px 1px 10px $red;
      background: darken($red, 5%);
    }
  }
}