.jumbotron {
  /* add bootstrap jumbotron background image */
  background: url("http://www.ttagtech.com/images/content/services/headers/header_multi_computing.jpg");
  /* change bootstrap jumbotron text color */
  color: #FFF;
  border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 0;

  h1{
    font-size: 5.2em;
  }
}