// site
@import "site/base";
@import "privatePage/base";


// Third-party
// @import "vendor/bootstrap.min.css";
// @import "~react-selectize/themes/index.css";
// $fa-font-path: "~font-awesome/fonts";
// @import "~font-awesome/scss/font-awesome";

body{
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}
