.panel{
  box-shadow: $swipes-shadow-one;
  margin-top: 10px;
  border-radius:0 !important;
  position:relative;
  -webkit-transition:all .2s linear;

  &__heading{
    background: $deepBlue-120 !important;
    border-radius:0;
    padding:15px;
    border-bottom:0 !important;

    .panel__title{
      text-transform: capitalize;
      font-weight:400;
      font-size: 1em;
      color:$white;
    }
  }

  &__body {
    background: white;
    padding: 20px;
    position:relative;
    -webkit-transition:all .2s linear;
  }
}